@media (max-width: 500px){
	.search_row{
		flex-direction: column;
		height: auto;
	}
}
#values{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}
@media (max-width: 500px){
	#values{
		justify-content: space-between;
	}
}
select, input{
	font-size: 1.4rem;
	height: 40px;
	padding: 1px 3px;
	box-sizing: border-box;
	border: solid 1px black;
	margin: 0px 5px 10px;
}
@media (max-width: 500px){
	select, input{
		height: 30px;
		flex-grow: 1;
	}
}
#search{
	padding: 6px 20px;
	margin: 0px 5px 10px;
}
.list_element{
	height: auto;
	width: calc(100% - 2px);
	margin: 0px 0px 10px;
	border: solid 1px lightgrey;
	border-radius: 10px;
	box-shadow: 1px 1px 2px 0px lightgrey;
}
h3{
	cursor: pointer;
	text-align: center;
	margin: 0px;
	border-bottom: solid 1px lightgrey;
	background-Color: #F2F2F2;
}
.details{
	padding: 10px;
}