img{
	filter: brightness(0) saturate(100%) invert(16%) sepia(69%) saturate(2924%) hue-rotate(204deg) brightness(91%) contrast(96%);
}
section{
	padding: 0px;
	display: flex;
	justify-content: space-around;
}
@media (max-width: 500px){
	section{
		flex-direction: column;
	}
}
form{
	width: 35%;
	padding: 10px;
}
@media (max-width: 500px){
	form{
		width: 80%;
		margin: auto;
	}
}
.list_element{
	margin: 0px;
	width: 100%;
	font-weight: bold;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	font-size: 0.75rem;
	height: 80px;
}
@media (max-width: 500px){
	.list_element{
		height: 60px;
	}
}
h1{
	padding-bottom: 10px;
	border-bottom: solid 1px lightgrey;
	margin: 0px 0px 20px;
}
input{
	width: calc(100% - 8px);
}
input[type=submit]{
	margin-left: auto;
	width: 150px;
}
.error{
	margin: 0px;
	font-weight: bold;
	color: red;
}
